.heading{
    background-color: #FDF5CA;
    text-align: center;
    text-shadow: 5px 2px 5px #AE00FB;
    font-variant-caps: petite-caps;
    font-size:  50px;
    
}
body{
    background-image: url("dogphoto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     
}
img{
    width: 300px;
    height: 400px;

}
p{
    font-size: xx-large;
    font-family: "Brush Script MT", cursive;
}